<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic' rel='stylesheet' type='text/css'>
    <title>System setup</title>
    <Link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="dialog dialog-setup">
      <div class="ldBar auto mt-4" data-value="<%= value %>" data-preset="line"></div>
      <!-- <h1>System setup</h1> -->
      <!-- <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->
      <!-- <br /> -->
      <!-- <%- include('partials/setup-step'+step+'.ejs') %> -->
    </div>
    <script type="text/javascript" src="utils/loadbar.js"></script>
  </body>
</html>