<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>System setup</title>
    <Link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body>
    <div class="dialog dialog-setup">
      <div class="ldBar auto mt-4" data-value="<%= value %>" data-preset="line"></div>
    </div>
    <script type="text/javascript" src="utils/loadbar.js"></script>
  </body>
</html>