<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Connect tag success</title>
    <Link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="dialog">
      <% if (message || title) { %>
        <h1><%= title %></h1>
            <div id="success-msg" class="message">
          <% } else { %>
            <div id="success-msg" class="message" style='display: none;'>
          <% } %>
              <p><%= message %></p> 
          </div>
      </div>
    </div>
  </body>
</html>