<div class="stepper-wrapper">
  <div class="stepper-item completed">
    <div class="step-counter">1</div>
    <div class="step-name">Verified</div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter">2</div>
    <div class="step-name">Connected</div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter">3</div>
    <div class="step-name">Authenticated</div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter">4</div>
    <div class="step-name">Saved</div>
  </div>
</div>